.register {
  width: 40%;
  margin: 0 auto;
  margin-top: 120px;
}

h1 {
  text-align: center;
  font-size: 55px;
}

.custom-input {
  width: 18px;
}

.radio {
  width: 43%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #ff6e1d;
}

.custom-label {
  font-size: 12px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 30px;
  background: #ff6e1d;
  border-radius: 10px;
  border: none;
  padding: 10px;
  text-align: center;
  color: white;
}

.register * {
  margin-top: 20px;
}

.error {
  color: red;
}
